<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="mode === 'request'">
    <h2>Solicitar restablecimiento</h2>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="requestReset()" class="ion-margin-top">Enviar email</ion-button>
  </div>

  <div *ngIf="mode === 'reset'">
    <h2>Elige una nueva contraseña</h2>
    <ion-item>
      <ion-label position="stacked">Nueva contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="doReset()" class="ion-margin-top">Restablecer</ion-button>
  </div>
</ion-content>
