// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-mycolor: #c20000;
	--ion-color-mycolor-rgb: 194,0,0;
	--ion-color-mycolor-contrast: #ffffff;
	--ion-color-mycolor-contrast-rgb: 255,255,255;
	--ion-color-mycolor-shade: #ab0000;
	--ion-color-mycolor-tint: #c81a1a;
}